
<header>
        <a href="" id="logo"> <img class="logo-img" src="/Logo.png" alt="Logo"></a>
        <button id="openMenu">&#9776;</button>

        <nav id="menu">
            <button id="closeMenu">X</button>
            <a href="#">Informações do jogo</a>
            <a href="#">Como ajudar</a>
            <a href="#">Noticias</a>
            <a href="/forum">Comunidade</a>
        </nav>
</header>