
<header>
        <a href="/" id="logo"> <img class="logo-img" src="https://github.com/YuriMatheusBarros/Site-Jogo/blob/main/b0dec0ec-d99e-483b-9cf4-ac65b7959101.jpg?raw=true" alt="Logo"></a>
        <button id="openMenu">&#9776;</button>

        <nav id="menu">
            <button id="closeMenu">X</button>
            <a href="#">Informações do jogo</a>
            <a href="#">Como ajudar</a>
            <a href="#">Noticias</a>
            <a href="./forum">Comunidade</a>
        </nav>
</header>