
<header>
  <a href="/" id="logo">
    <img class="logo-img" src="https://github.com/YuriMatheusBarros/Site-Jogo/blob/main/b0dec0ec-d99e-483b-9cf4-ac65b7959101.jpg?raw=true" alt="Logo">
  </a>
  <button id="openMenu">&#9776;</button>

  <nav id="menu">
    <button id="closeMenu">X</button>
    <a href="./informacoes">Informações do jogo</a>
    <a href="./ajudar">Como ajudar</a>
    <a href="./noticias">Notícias</a>
    <a href="./forum">Comunidade</a>
    <a href="./transparencia">Transparência</a>

    <!-- Adaptando o menu Conta -->
    <div class="menu-container">
        <a href="#" class="menu-button" id="menu-account"> <span id="account-icon" class="default-icon"> </span> Conta </a> <div class="dropdown-menu">
        <a href="./login">Entrar</a>
        <a href="./conta">Perfil do GUARDIAN</a>
        <a href="./configuracoes">Configurações da conta</a>
        <a href="./register">Inscreva-se</a>
        <a href="./suporte">Suporte</a>
        <a href="./loja">Loja</a>
        <a href="./baixe">Baixe o GUARDIAN</a>
      </div>
    </div>
  </nav>
</header>