<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GUARDIAN</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/forum.css">
    <link rel="stylesheet" href="./css/login.css" />
    <link rel="stylesheet" href="./css/register.css">
    <link rel="stylesheet" href="./css/footer.css">
    <link rel="stylesheet" href="./css/header.css">

</head>
<body>
    {{{body}}} <!-- Aqui será inserido o conteúdo da página 'add.handlebars' -->
    <script type="text/javaScript" src="./js/script.js"></script>
</body>
</html>