{{> header}}
<body class="pagina-doacao">
  
   <div class="containerAjudar">
     <h1 class="titulo">Como ajudar?</h1>
     <h1 class="titulo1">Existem diversas maneiras de fazer a diferença para proteger nosso planeta. O ativismo é uma delas, unindo vozes em manifestações, campanhas e ações para exigir mudanças e conscientizar a sociedade. Além disso, sua doação pode fortalecer organizações que trabalham diretamente na preservação ambiental, ajudando a financiar projetos essenciais. Não menos importante, assinar abaixo-assinados é uma forma rápida e eficaz de pressionar autoridades por políticas e ações sustentáveis.</h1>
    <div class="card card-greenpeace">
        <div class="card-content">
            <h3 class="card-title">Greenpeace</h3>
            <p class="card-description">Ajude o Greenpeace a proteger o meio ambiente!</p>
            <button onclick="redirecionarGreenpeace()">Saiba mais!</button>
        </div>
        
    </div>
    <div class="card card-wwf">
        <div class="card-content">
            <h3 class="card-title">WWF-BRASIL</h3>
            <p class="card-description">Com a sua doação, o WWF-Brasil poderá proteger a vida de todas as espécies.</p>
            <button onclick="redirecionarWWF()">Saiba mais!</button>
        </div>
    </div>
    <div class="card card-Pantanal">
        <div class="card-content">
            <h3 class="card-title">SOS Pantanal</h3>
            <p class="card-description">Suas doações serão 100% destinadas à projetos que fazem a diferença.</p>
            <button onclick="redirecionarPANTANAL()">Saiba mais!</button>
        </div>
    </div>
      {{> footer}}
</div>   
</body>

