{{> header}}

<body class="baixe-body">
  <div class="conteiner-baixe">
  <div class="baixe-logo"></div>
  <h1 class="baixe-titulo">Baixando Jogo Guardian</h1>
  <p class="baixe-texto">Se o seu download não começou, <a href="#">tente novamente</a>.</p>
  <div class="baixe-links">
    <a href="#" class="baixe-link-botao">Aplicativo de Desktop</a>
  </div>
  </div> 
</body>
