<body class="configuracoes">
  {{> header}}
    <div class="container-configuracoes">
        <h1>Visão Geral da Conta - Guardian</h1>

        <div class="grid">
            <div class="grid-item">
                <h3>Resgatar um código</h3>
                <br>
                <div class="code-input">
                    <input type="text" placeholder="XXXX-XXXX-XXXX-XXXX">
                    <button class="button">Resgatar código</button>
                </div>
            </div>

            <div class="grid-item">
                <h3>Saldo Guardian</h3>
                <br>
                <p class="balance">R$ 0,00</p>
                <a href="#" class="button">Métodos de Pagamento</a>
            </div>

            <div class="grid-item">
                <h3>Suas informações <span class="settings-icon" title="Configurações"></span></h3>
                <br>
                <p><strong>Nome:</strong> Y*** M******* B***** M****</p>
                <p><strong>Tag:</strong> Lorem#1213</p>
                <p><strong>Email:</strong> y*********6@gmail.com</p>
                <p><strong>Celular:</strong> **********60</p>
            </div>

            <div class="grid-item">
                <h3>Check-up de Segurança</h3>
                <br>
                <div class="security-check">
                    <span><div class="icon-configuracoes"></div>Email confirmado</span>
                    <span><div class="icon-configuracoes"></div>Autenticador associado</span>
                    <span><div class="icon-configuracoes"></div>Número de celular confirmado</span>
                </div>
                <br>
                <p class="status">100% COMPLETADO</p>
            </div>
        </div>
    </div>
  {{> footer}}
</body>