{{> header}}
<body class="conta">
  <header class="perfil-header">
        <div class="perfil-container">
            <div class="perfil-imagem">
                
            </div>
            <div class="perfil-info">
                <h1 class="perfil-nome">Nome do Jogador</h1>
                <p class="perfil-nivel">Nível: 42</p>
                <button class="botao-editar">Editar Perfil</button>
            </div>
        </div>
    </header>

    <main class="perfil-conteudo">
        <section class="topicos-criados">
            <h2>Meus Tópicos no Fórum</h2>
            <ul class="lista-topicos">
                <li class="topico-item">
                    <a href="#">Título do Tópico 1</a>
                    <span class="data-criacao">Criado em: 25/12/2024</span>
                </li>
                <li class="topico-item">
                    <a href="#">Título do Tópico 2</a>
                    <span class="data-criacao">Criado em: 20/12/2024</span>
                </li>
                <li class="topico-item">
                    <a href="#">Título do Tópico 3</a>
                    <span class="data-criacao">Criado em: 15/12/2024</span>
                </li>
                <li class="topico-item">
                    <a href="#">Título do Tópico 4</a>
                    <span class="data-criacao">Criado em: 16/12/2024</span>
                </li>
            </ul>
        </section>
        <br>
        <br>
        <br>
        <br>
        <br>
       {{> footer}}
    </main>
    
</body>