{{> header}}

<main class="main-especifica">
  <div class="video-container">
    <video autoplay muted loop playsinline>
      <source src="/imgs/Guardian.mp4" type="video/mp4">
      Seu navegador não suporta a tag de vídeo.
    </video>
  </div>
  <div class="video-overlay"></div>
    <div class="conteudo-principal">
        <h1>GUARDIAN</h1>
        <p>Junte-se à nossa missão para salvar o planeta.</p>
        <button class="botao-jogar">JOGAR AGORA</button>
    </div>
</main>

<section class="secao-rodape promocao-jogo">
    <div class="conteudo-promocao">
    <h1>Jogue com seu personagem favorito</h1>
    <p>Seja um campeão e ajude a salvar o mundo com seu herói favorito.</p>
    <button>Jogue agora!</button>
    </div>
    <img class="imagem-personagem" src="/imgs/personagem.png" alt="Personagem do jogo">
</section>

<section class="secao-rodape consciencia-ambiental">
    <div class="conteudo-ambiente">
    <h1>Ajude o meio ambiente!</h1>
    <p>Nosso jogo tem o propósito de engajar e promover ações que trazem mudanças positivas ao meio ambiente.</p>
    <button>Saiba mais</button>
    </div>
    <img class="imagem-ambiente" src="https://cdn.pixabay.com/photo/2024/04/20/11/47/ai-generated-8708404_1280.jpg" alt="Preservação do meio ambiente">
</section>

<section class="secao-rodape atualizacoes">
    <h1>Confira as atualizações</h1>
    <div class="cartoes-atualizacoes">
        <div class="cartao">
            <img src="/imgs/card2.png" alt="Lobby da comunidade">
            
            <h3>Lobby da comunidade</h3>
            <p>Confira o novo lobby para os jogadores interagirem e fazer amigos.</p>
        </div>
        <div class="cartao">
            <img src="/imgs/card1.png" alt="Novos Mapas">
            
            <h3>Novos Mapas</h3>
            <p>Mapas atualizados com mais conteúdo.</p>
        </div>
        <div class="cartao">
            <img src="/imgs/card3.png" alt="Customização melhorada">
            
            <h3>Customização melhorada</h3>
            <p>Experimente seu herói personalizado.</p>
        </div>
    </div>
</section>

<section class="secao-rodape comunidade">
    <div class="conteudo-comunidade">
    <h1>Entre para nossa comunidade e ajude a criar a história do nosso jogo!</h1>
    <p>Quer participar da construção de novos níveis e melhorar a experiência do nosso jogo?</p>
    <button>Saiba mais</button>
    </div>
    <img class="imagem-comunidade" src="/imgs/comunidade.png" alt="Comunidade">
</section>

{{> footer}}
