<body class = informacoes>
  {{> header}}
 <div class="containerInformacoes">
    <div class="header">
      <h1>O QUE É GUARDIAN?</h1>
      <p>"Guardian: Resgate do Planeta Terra" é um jogo de ação e aventura em um mundo devastado pelas mudanças climáticas. </p>
      <p>Enfrente desafios ambientais e restaure a harmonia da Terra com habilidades únicas e tecnologia sustentável.</p>
    </div>

    <div class="features">
      <div class="feature">
        <div class="feature-image feature-image-1"></div>
        <h3>Desenvolvimento de Personagem Ambiental</h3>
        <br>
        <p>Personalize seu Guardião e desbloqueie habilidades para salvar o planeta, como purificação de poluentes e restauração de florestas.</p>
      </div>

      <div class="feature">
        <div class="feature-image feature-image-2"></div>
        <h3>Mundo Ameaçado e Exploração</h3>
        <br>
        <p>Explore cenários devastados pela crise climática e descubra áreas para revitalizar, como oceanos contaminados e desertos em expansão.</p>
      </div>

      <div class="feature">
        <div class="feature-image feature-image-3"></div>
        <h3>Tecnologias Sustentáveis, Missões e Combates</h3>
        <br>
        <p>Utilize armas ecológicas, dróides de reciclagem e lute contra ameaças como máquinas poluentes e líderes industriais corruptos.</p>
      </div>
    </div>
    {{> footer}}
  </div>

</body>
