<body class="loja">
  {{> header}}
  <div style="display: flex; justify-content: center; flex-direction: column; margin: 0 auto;">
    <h1 class="titulo-guardian-loja">Loja de Cosméticos do Guardião</h1>

  </div>
  <div class="loja-guardian">
    
    <div class="card">
      <img src="/imagens/skin1.jpg" a</div>lt="Cosmético 1">
      <h3>Skin Épica</h3>
      <p>Transforme seu personagem com esta incrível skin!</p>
      <span class="preco">R$ 10,00</span>
      <button>Comprar</button>
    </div>
    <div class="card">
      <img src="/imagens/skin2.jpg" alt="Cosmético 2">
      <h3>Armadura Mítica</h3>
      <p>Uma armadura lendária para proteger sua jornada.</p>
      <span class="preco">R$ 15,00</span>
      <button>Comprar</button>
    </div>
    <div class="card">
      <img src="/imagens/skin3.jpg" alt="Cosmético 3">
      <h3>Espada Flamejante</h3>
      <p>Adicione poder com esta espada ardente!</p>
      <span class="preco">R$ 20,00</span>
      <button>Comprar</button>
    </div>
    <div class="card">
      <img src="/imagens/skin4.jpg" alt="Cosmético 4">
      <h3>Escudo Divino</h3>
      <p>Defesa absoluta para qualquer batalha.</p>
      <span class="preco">R$ 25,00</span>
      <button>Comprar</button>
    </div>
    <div class="card">
      <img src="/imagens/skin5.jpg" alt="Cosmético 5">
      <h3>Capa das Sombras</h3>
      <p>Seja furtivo com esta capa especial.</p>
      <span class="preco">R$ 30,00</span>
      <button>Comprar</button>
    </div>
    <div class="card">
      <img src="/imagens/skin6.jpg" alt="Cosmético 6">
      <h3>Montaria Dragão</h3>
      <p>Domine os céus com esta montaria incrível!</p>
      <span class="preco">R$ 35,00</span>
      <button>Comprar</button>
    </div>
    <div class="card">
      <img src="/imagens/skin7.jpg" alt="Cosmético 7">
      <h3>Asas Celestiais</h3>
      <p>Voe com estilo e graça.</p>
      <span class="preco">R$ 40,00</span>
      <button>Comprar</button>
    </div>
    <div class="card">
      <img src="/imagens/skin8.jpg" alt="Cosmético 8">
      <h3>Set Elemental</h3>
      <p>Convoque os elementos ao seu favor.</p>
      <span class="preco">R$ 50,00</span>
      <button>Comprar</button>
    </div>
    <div class="card">
      <img src="/imagens/skin8.jpg" alt="Cosmético 8">
      <h3>Set Elemental</h3>
      <p>Convoque os elementos ao seu favor.</p>
      <span class="preco">R$ 50,00</span>
      <button>Comprar</button>
    </div>
  </div>
</body>