<body class="noticias">
  {{> header}}
 <div class="container-noticias">
        <a href="#guardian2025" class="noticia">
            <img src="https://www.piclumen.com/wp-content/uploads/2024/09/36-bit-pixel-art-different-elements-of-spaces-and-universe-elemental-design-drafts-neatly-arranged.jpg" alt="Guardian 2025">
            <div class="conteudo">
                <p class="titulo">GUARDIAN RETORNA EM 2025</p>
                <p class="descricao">Depois de um ano cheio de aventuras épicas, estamos animados para anunciar o retorno de Guardian com novos desafios e eventos.</p>
                <p class="data">23 de dezembro de 2024</p>
            </div>
        </a>
        <a href="#phantom" class="noticia">
            <img src="https://www.piclumen.com/wp-content/uploads/2024/09/a-cute-8-bit-pixelated-astronaut.jpg" alt="Arte e História de Guardian">
            <div class="conteudo">
                <p class="titulo">FIQUE POR DENTRO - EXPLORANDO A ARTE, HISTÓRIA E JOGABILIDADE DE PHANTOM</p>
                <p class="descricao">Phantom chegou ao universo de Guardian com habilidades incríveis. Confira como este herói foi desenvolvido na última atualização.</p>
                <p class="data">22 de dezembro de 2024</p>
            </div>
        </a>
        <a href="#azure" class="noticia">
            <img src="https://st.depositphotos.com/38874124/55286/v/450/depositphotos_552860208-stock-illustration-pixel-game-with-celestial-characters.jpg" alt="Relatório de Campo">
            <div class="conteudo">
                <p class="titulo">CORRESPONDÊNCIA - RELATÓRIO DE CAMPO: RUÍNAS DE AZURE</p>
                <p class="descricao">Descubra o mistério das Ruínas de Azure. Artefatos antigos foram recuperados por exploradores, revelando segredos de eras passadas.</p>
                <p class="data">15 de dezembro de 2024</p>
            </div>
        </a>
        <a href="#novoMapa" class="noticia">
            <img src="https://imgcdn.stablediffusionweb.com/2024/3/24/65d4c73b-09d6-4280-9771-96f427fe9aed.jpg" alt="Novo Mapa">
            <div class="conteudo">
                <p class="titulo">NOVA AVENTURA - MAPA "CAVERNAS DE CRISTAL"</p>
                <p class="descricao">Prepare-se para explorar as deslumbrantes Cavernas de Cristal, um novo mapa cheio de desafios e recompensas únicas.</p>
                <p class="data">10 de dezembro de 2024</p>
            </div>
        </a>
    </div>
    {{> footer}}
</body>
