
 
<body id="pagina-registro">
   {{> header}}
  <main class="container-registro">
    <h1 class="titulo-registro">Registrar</h1>
    <form class="formulario-registro" action="/register" method="POST">
      <label for="username-registro">Nome Completo</label>
      <input type="text" id="username-registro" name="username" required>
      <label for="email-registro">E-mail</label>
      <input type="email" id="email-registro" name="email" required>
      <label for="senha-registro">Senha</label>
      <input type="password" id="senha-registro" name="password" required>
      <button type="submit" class="botao-registro">Cadastrar</button>
    </form>
    <p class="link-login">
      Já tem uma conta? <a href="/login"> <u>Faça login</u></a>
    </p>
  </main>
</body>

