{{> header}}

<body class="body-dashboard">
  <main class="dashboard-center">
    <div class="dashboard-doacao">
      <h2 class="titulo">Temporada 1: <span>SOS Pantanal</span></h2>
        <p class="descricao">Aqui, a comunidade acompanha em tempo real o impacto gerado. Ao adquirir o <strong>Passe de Batalha</strong> ou cosmeticos a parte, você apoia diretamente a causa da temporada. Acreditamos na transparência total como pilar da nossa missão.</p>

      <div class="bloco-arrecadado">
        <p class="label">TOTAL ARRECADADO (PASSE DE BATALHA)</p>
        <p class="valor" id="total-arrecadado">R$ 48.172,50</p>
      </div>

      <div class="bloco-doacao">
        <p class="label">VALOR PARA DOAÇÃO (25%)</p>
        <p class="valor doacao" id="valor-doacao">R$ 12.043,12</p>
      </div>

      <div class="relatorio">
        <h3>Relatório de Impacto da Parceria</h3>
        <ul>
          <li>✓ Compra de equipamentos para brigadas anti-incêndio.</li>
          <li>✓ Apoio a projetos de reabilitação de animais resgatados.</li>
        </ul>
        <a href="#" class="link-relatorio">Ver relatório completo da ONG →</a>
      </div>
    </div>
  </main>
</body>
</html>