:root {
  --fundo-principal: #1a1a2e;
  --cor-texto: #ffffff;
  --cor-link: #4a90e2;
  --cor-botao: #2b2b38;
  --cor-borda-botao: #ffffff;
}

body.baixe-body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--fundo-principal);
  color: var(--cor-texto);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  overflow: hidden;
  
}

.conteiner-baixe {
  display: flex;
  margin-top: 200px;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-bottom: 200px;
}

.baixe-logo {
  margin-bottom: 20px;
  background: url('./imgs/Logo.png') no-repeat center center / cover;
  width: 150px;
  height: 150px;
  border-radius: 50px;
}

h1.baixe-titulo {
  font-size: 2rem;
  margin: 0;
}

p.baixe-texto {
  font-size: 1rem;
  margin: 10px 0;
}

p.baixe-texto a {
  color: var(--cor-link);
  text-decoration: underline;
  cursor: pointer;
}

.baixe-links {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.baixe-link-botao {
  padding: 10px 20px;
  background-color: var(--cor-botao);
  border: 2px solid var(--cor-borda-botao);
  border-radius: 5px;
  color: var(--cor-texto);
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s, transform 0.3s;
}

.baixe-link-botao:hover {
  background-color: var(--cor-link);
  transform: scale(1.05);
}

@media (max-width: 768px) {
  h1.baixe-titulo {
    font-size: 1.5rem;
  }

  p.baixe-texto {
    font-size: 0.9rem;
  }

  .baixe-link-botao {
    font-size: 0.9rem;
  }
}