@charset "UTF-8";
* {
  margin: 0;
  box-sizing: border-box;
}
header {
  height: 100px;
  display: flex;
  align-items: center;
  margin: 30px auto;
  flex:  1 1 100vw;
}

header #logo {
  display: flex;
  flex: 1 1 200px;
  justify-content: center;
  align-items: center;
}

#openMenu,
#closeMenu {
  border: none;
  background: none;
  font-size: 30px;
  font-weight: bold;
  padding: 0px 5px;
  cursor: pointer;
  display: none;
}

nav {
  justify-content: flex-end;
  align-items: center;
  flex: 1 1 200px;
}

nav a {
  margin: 0 3%;
  font-size: 15pt;
  color: black;
  font-weight: bold;
}

nav a:hover {
  color: white;
}

.logo-img {
  width: 100px;
  border: none;
  border-radius: 50px;
  margin-left: -600px;
}

#account-icon {
  width: 52px;
  height: 42px;
  border-radius: 50%;
  
  background-color: #cccccc25; /* Cor padrão quando não há foto */
  border: #143714 solid 0.5px;
  display: inline-block;
  background-size: cover;
  background-position: center;
}

.default-icon {
  background-image: url('https://img.freepik.com/fotos-premium/icone-de-perfil-em-fundo-branco_941097-160945.jpg?w=740'); /* Ícone padrão */
}

.menu-button {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

@media only screen and (max-width: 717px) {
  #openMenu,
  #closeMenu {
    display: block;
  }

  #openMenu {
    margin-left: auto;
  }

  #closeMenu {
    position: fixed;
    right: 15px;
    top: 15px;
  }

  nav {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.8);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    display: none;
    opacity: 0;
    transition: 0.3s;
  }

  nav a {
    margin: 3%;
  }
}

#menu {
  display: flex;
	position: relative;
  
	left: -70px;
  gap: 50px;
}

#menu a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
}

#menu a:hover {
  background-color: #143714;
  border-radius: 5px;
}

/* Estilo do menu Conta */
.menu-container {
  position: relative;
  display: inline-block;
  text-align: center;
}

.menu-button {
  text-decoration: none;
  color: rgb(201, 69, 69);
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%); /* Centraliza o menu horizontalmente */
  background-color: #143714;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  max-width: 50vw; /* Garante que o menu não ultrapasse as margens da página */
}

.dropdown-menu a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}

.dropdown-menu a:hover {
	color: #000000;
  background-color: black;
}

/* Mostra o menu ao passar o mouse */
.menu-container:hover .dropdown-menu {
  display: block;
}
