@charset "UTF-8";
body.informacoes {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.containerInformacoes {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  min-height: 74vh;
  max-height: 100vh;
}

.header {
  margin-bottom: 50px;
}

.header h1 {
  font-size: 2.4em;
  color: #00ff88;
}

.header p {
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #d0f7d0;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 75px;
}

.feature:hover {
  transform: scale(1.02); /* aumenta o tamanho */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.199) /* brilho suave */
}

.feature {
  background-color: #143714;
  border: 1px solid #00ff88;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  text-align: left;
}

.feature .feature-image {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 15px;
  background-size: cover;
  background-position: center;
}

.feature-image-1 {
  background-image: url('./imgs/astronauta\ 3\ \(1\).jpg');
}

.feature-image-2 {
  background-image: url('./imgs/cenario-jogo.gif');
}

.feature-image-3 {
  background-image: url('./imgs/armadura\ astronauta.webp');
}

.feature h3 {
  font-size: 1.5em;
  color: #00ff88;
}

.feature p {
  font-size: 1em;
  color: #d0f7d0;
}